/* Webpage Header Stylization Specs */
#mainHeader {
  background: linear-gradient(to top right, #007adf 10%, #22d4b1 100%);
}

/* Search greeting for users */
#searchSection {
  font-size: 22px;
  font-weight: 740;
}

/* Searchbar specs */
.searchbar {
  width: 19vw;
  margin-top: 2px;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 3px;
}

/* Search button specs */
#searchBtn {
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  width: 19vw;
  margin-top: 5px;
  margin-bottom: 22px;
  color: white;
  background-color: rgb(0, 102, 255);
}

/* Search Button Pseudo Code for when hovering */
#searchBtn:hover {
  cursor: pointer;
  background-color: green;
}

/* Search Button Pseudo Code for when clicked on*/
#searchBtn:active {
  cursor: pointer;
  color: black;
  background-color: darkgray;
}

/* Line between the search button and searched results */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/* Current City's Display Specs */
#mainTron {
  background-color: cornflowerblue;
  color: white;
}

/* Current City Name Specs */
#currentCity {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  padding-right: 5px;
}

/* Current City's Date Specs */
#date {
  font-size: 30px;
  font-weight: bold;
  margin-left: 8px;
  padding-right: 10px;
}

/* Current City's Weather Icon Specs */
.w-icon {
  margin-top: -30px;
}

/* Specs for dynamically created search results buttons */
.buttonSearchHistory button {
  width: 19vw;
  margin-top: 5px;
  padding: 3px;
  padding-right: 70px;
  border-radius: 5px;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
}

/* Specs for Current City's Temp, Wind, Humidity and UV Index */
.weather-item1,
.weather-item2,
.weather-item3,
.weather-item4 {
  margin-bottom: 10px;
}

/* Five Day Forecast Card Specs */
.weather5Day {
  border: 1px solid black;
  color: white;
  background-color: rgb(32, 29, 44);
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-right: 2px;
  border-radius: 8px;
}

/* Five Day Forecast Temp, Wind and Humidity Specs */
.forecastTemp,
.forecastWind,
.forecastH {
  margin-bottom: 10px;
}

/* Five Day Forecast Weather Icon Specs */
.w-icon1,
.w-icon2,
.w-icon3,
.w-icon4,
.w-icon5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* This is media queries - focused on iphone 11 and 12 */
@media screen and (max-width: 390px) {
  .searchbar {
    width: 50vw;
  }

  #searchBtn {
    width: 50vw;
  }

  .buttonSearchHistory button {
    width: 50vw;
  }

  #date {
    font-size: 20px;
    margin-top: 8.5px;
    margin-left: 22px;
  }

  .w-icon {
    margin-top: -5px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}
