/* #mainTitle {
    background: linear-gradient(to top right, #007adf 10%, #22d4b1 100%);
    width: 96.5vw;
    padding-top: 8px;
    height: 10vh;
} */
#searchSection {
    font-size: 22px;
    font-weight: 740;
}
.searchbar {
    width: 19vw;
    margin-top: 2px;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 3px;
}

#searchBtn {
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    width: 19vw;
    margin-top: 5px;
    margin-bottom: 22px;
    color: white;
    background-color: rgb(0, 102, 255);
}

#searchBtn:hover {
    cursor: pointer;
    background-color: green;
}

#searchBtn:active {
    cursor: pointer;
    color: black;
    background-color: darkgray;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* .buttonList {
    background-color: red;
} */

#searchResults {
    width: 19vw;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
}

#currentCity {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    padding-right: 5px;
}

#date {
    font-size: 30px;
    font-weight: bold;
    margin-left: 8px;
    padding-right: 10px;
}

.w-icon {
    margin-top: -30px;
}

.buttonSearchHistory button {
    width: 19vw;
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}

.weather-item1, .weather-item2, .weather-item3, .weather-item4 {
    margin-bottom: 10px;
}


.weather5Day {
    border: 1px solid black;
    color: white;
    background-color: rgb(32, 29, 44);
    margin-top: 5px;
    padding-bottom: 25px;
}
